* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content{
  display: flex;
}

#sidebar{
  background-color: yellow;
  height: 60vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  background-color: black;
  height: 30vh;
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer {
  background-color: lightgreen;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile {
  height: 200px;
  width: 200px;
  background-color: cornflowerblue;
}

.try {
  height: 30px;
  width: 30px;
  background-color: red;
}